<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
		Profile
		</ion-title>
		<ion-button slot="end" (click)="clickLogout()">
			<ion-icon name="log-out" slot="icon-only"  ></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card class="welcome-card" (click)="openAvaModal()">
		<!-- <img src="/assets/character1.gif" alt="" /> -->
		<img src='{{ character }}' alt="" />
	</ion-card>

	<!-- <ion-list inset lines="none"> -->	
	<!-- <ion-list-header> -->
		<!-- <ion-label>Player Information</ion-label> -->
	<!-- </ion-list-header> -->

	<ion-row>
		<ion-col align-self-center text-center>
			<ion-item text-center color="clear" class="ion-padding fs2">
				<ion-label color="light"> Statistics </ion-label>
			</ion-item>
		</ion-col>
	</ion-row>
	
	<ion-row>
		<ion-col align-self-center text-center>
			<ion-button class="button-large button-full" fill="clear" color="light" (click)="openAlert()">
				<div>
					<ion-icon slot="start" color="vibrant" name="person"></ion-icon>
					<br>
					<ion-label id="username" [innerHTML]="username"> Player 1</ion-label>
				</div>
			</ion-button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col align-self-center text-center>
			<ion-card color="tertiary">
				<ion-button class="button-large button-full" fill="clear" color="warning" onclick="inputName()">
					<div>
						<ion-icon slot="start" color="vibrant" name="trending-up"></ion-icon>
						<br>
						<ion-label>Level</ion-label>
					</div>
				</ion-button>
				<ion-card-content>
						<ion-badge item-end color="danger" class="fs1 p05" id="level" [innerHTML]="level">17</ion-badge>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col align-self-center text-center>
			<ion-card color="tertiary">
				<ion-button class="button-large button-block" fill="clear" color="warning" onclick="inputName()">
					<div>
						<ion-icon slot="start" color="vibrant" name="podium"></ion-icon>
						<br>
						<ion-label>Distance Covered</ion-label>
					</div>
				</ion-button>
				
				<ion-card-content color="royal" id="dist">
					<ion-badge item-end color="danger" class="fs1 p05" id="distance" [innerHTML]="distance">8 km</ion-badge>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>	

</ion-content>
