<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Map 
    </ion-title>
    <ion-button slot="end" (click)="clickLogout()">
			<ion-icon name="log-out" slot="icon-only"  ></ion-icon>
		</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map" #map id="map" style="height: 100%">
    <div class="cloud grid-full">

      <ion-grid class="cloud grid-full" #cloud id="cloud" style="height: 100%;">
    
        <ion-row class="row-03">
          <ion-col size="4">

          </ion-col>
          <ion-col size="4">

          </ion-col>
          <ion-col size="4">

          </ion-col>
        </ion-row>
          
        <ion-row class="row-03">
          <ion-col size="4">

          </ion-col>
          <ion-col size="4">

          </ion-col>
          <ion-col size="4">

          </ion-col>
        </ion-row>

        <ion-row class="row-03">
          <ion-col size="4">

          </ion-col>
          <ion-col size="4">

          </ion-col>
          <ion-col size="4">

          </ion-col>
        </ion-row>

      </ion-grid>

    </div>
  </div>

</ion-content>
