<ion-header>
  <ion-toolbar>
    <ion-title text-center>
    Achievements Bin 
    </ion-title>
  </ion-toolbar>
  </ion-header>
  
<ion-content>

    <ion-card>
    <img src="/assets/character.gif" alt=""/>
    </ion-card>
  
    <ion-row>
        <ion-col align-self-center text-center>
          <ion-item text-center color=success>
            <ion-label>	Badges </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-grid>
          <ion-row>
            <ion-col align-self-center>
              1 of 12
            </ion-col>
            <ion-col align-self-center>
              2 of 12 
            </ion-col>
            <ion-col align-self-center>
              3 of 12
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col align-self-center>
              4 of 12
            </ion-col>
            <ion-col align-self-center>
              5 of 12
            </ion-col>
            <ion-col align-self-center>
              6 of 12
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col align-self-center>
                7 of 12
              </ion-col>
              <ion-col align-self-center>
                8 of 12
              </ion-col>
              <ion-col align-self-center>
                9 of 12
              </ion-col>
            </ion-row>
        </ion-grid>


</ion-content>